.logo-area {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff, #cfe1ff);
    display: flex;
}

body { 
    margin: 0;
    background-color: black;
}


h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 200px; 
    flex-grow: 1;
    background: linear-gradient(to bottom, #ffffff, #cfe1ff);
}

li a {
    display: block;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
    margin:10px; 
    background: linear-gradient(to bottom, #ffffff, #cfe1ff);
    border-top: 1px solid rgb(232, 232, 232);
    border-left: 1px solid rgb(232,232,232);
    border-bottom: 1px solid rgb(155, 155, 155);
    border-right: 1px solid rgb(155,155,155)
}

li a:hover {
    background: linear-gradient(to bottom, #ffe855, #e2a223);
}


.title {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 0;
}
.subtitle {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
}

.logo {
    margin:0;
    padding-left: 30px;
    padding-right: 15px;
    max-width: 70px;
    max-height: 70px;
    align-self: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.scroll-container {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    background: linear-gradient(to bottom, #ffffff, #cfe1ff);
    border-style: solid;
    border-left-style: none;
    border-right-style: none;
}

.scroll-text {
    display: inline-block;
    animation: scroll-left 10s linear infinite;
    width: 100%
}

.info-page {
    margin-top:10px;
    margin-left: 20px;
    width: 85vw;
    height: 86vh;
    background: linear-gradient(to bottom, #ffffff, #cfe1ff);
    overflow-y: auto;
}

@keyframes scroll-left {
    from { transform:translateX(-100%)}
    to {transform:translateX(100%);}
}

.body-title {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: purple;
    margin-top: 50px;
}

.body-location {
    background-color: #0000FE;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FEFE00;
    text-shadow: 1px 1px 2px black;
    margin:0;
    padding: 10px;
    font-weight: bold;
}